Repository credfeto/credfeto-dotnet-repo-tools, changes with the labels that .github/labeler.yml gives for each.
All labels: C#, C# Project, C# Solution, Powershell, SQL, Solidity, unit-tests, .NET update, Config Change, Static Code Analysis Rules, Migration Script, Legal Text, Change Log, Read Me, Setup, Markdown, github-actions, Build, Build.Interfaces, Build.Tests, Cmd, DotNet, DotNet.Interfaces, Git, Git.Interfaces, Git.Tests, Models, Release, Release.Interfaces, Credfeto.DotNet.Repo.Tracking, Credfeto.DotNet.Repo.Tracking.Interfaces, Credfeto.DotNet.Repo.Tracking.Tests

.github/labeler.yml:

"C#":
 - any: [ './**/*.cs', './**/*.csproj' ]
"C# Project":
 - any: [ './**/*.csproj' ]
"C# Solution":
 - any: [ './**/*.sln' ]
"Powershell":
 - any: [ './**/*.ps1', './**/*.psm1' ]
"SQL":
 - any: [ 'db/**/*', './**/*.sql' ]
"Solidity":
 - any: [ './**/*.sol' ]
"unit-tests":
 - any: [ 'src/*.Tests.*/**/*', 'src/*.Tests/**/*', 'src/*.Tests.Integration.*/**/*', 'src/*.Tests.Integration/**/*' ]
".NET update":
 - any: [ 'src/global.json' ]
"Config Change":
 - any: [ 'src/**/*.json', '!src/global.json' ]
"Static Code Analysis Rules":
 - any: [ 'src/CodeAnalysis.ruleset' ]
"Migration Script":
 - any: [ 'tools/MigrationScripts/**/*' ]
"Legal Text":
 - any: [ 'tools/LegalText/**/*' ]
"Change Log":
 - any: [ 'CHANGELOG.md' ]
"Read Me":
 - any: [ 'README.md' ]
"Setup":
 - any: [ 'SETUP.md' ]
"Markdown":
 - any: [ './**/*.md' ]
"github-actions":
 - any: [ '.github/workflows/*.yml' ]
"Build":
 - any: [ 'src/Credfeto.DotNet.Repo.Tools.Build/**/*' ]
"Build.Interfaces":
 - any: [ 'src/Credfeto.DotNet.Repo.Tools.Build.Interfaces/**/*' ]
"Build.Tests":
 - any: [ 'src/Credfeto.DotNet.Repo.Tools.Build.Tests/**/*' ]
"Cmd":
 - any: [ 'src/Credfeto.DotNet.Repo.Tools.Cmd/**/*' ]
"DotNet":
 - any: [ 'src/Credfeto.DotNet.Repo.Tools.DotNet/**/*' ]
"DotNet.Interfaces":
 - any: [ 'src/Credfeto.DotNet.Repo.Tools.DotNet.Interfaces/**/*' ]
"Git":
 - any: [ 'src/Credfeto.DotNet.Repo.Tools.Git/**/*' ]
"Git.Interfaces":
 - any: [ 'src/Credfeto.DotNet.Repo.Tools.Git.Interfaces/**/*' ]
"Git.Tests":
 - any: [ 'src/Credfeto.DotNet.Repo.Tools.Git.Tests/**/*' ]
"Models":
 - any: [ 'src/Credfeto.DotNet.Repo.Tools.Models/**/*' ]
"Release":
 - any: [ 'src/Credfeto.DotNet.Repo.Tools.Release/**/*' ]
"Release.Interfaces":
 - any: [ 'src/Credfeto.DotNet.Repo.Tools.Release.Interfaces/**/*' ]
"Credfeto.DotNet.Repo.Tracking":
 - any: [ 'src/Credfeto.DotNet.Repo.Tracking/**/*' ]
"Credfeto.DotNet.Repo.Tracking.Interfaces":
 - any: [ 'src/Credfeto.DotNet.Repo.Tracking.Interfaces/**/*' ]
"Credfeto.DotNet.Repo.Tracking.Tests":
 - any: [ 'src/Credfeto.DotNet.Repo.Tracking.Tests/**/*' ]

[Dependencies] Updating Nullable.Extended.Analyzer (Code analysis) to 1.15.6169
  src/Credfeto.DotNet.Repo.Tools.Build.Interfaces/Credfeto.DotNet.Repo.Tools.Build.Interfaces.csproj
  src/Credfeto.DotNet.Repo.Tools.Build.Tests/Credfeto.DotNet.Repo.Tools.Build.Tests.csproj
  src/Credfeto.DotNet.Repo.Tools.Build/Credfeto.DotNet.Repo.Tools.Build.csproj
  src/Credfeto.DotNet.Repo.Tools.DotNet.Interfaces/Credfeto.DotNet.Repo.Tools.DotNet.Interfaces.csproj
  src/Credfeto.DotNet.Repo.Tools.DotNet/Credfeto.DotNet.Repo.Tools.DotNet.csproj
  src/Credfeto.DotNet.Repo.Tools.Models/Credfeto.DotNet.Repo.Tools.Models.csproj
Labels: C# Project, Build, Build.Interfaces, Build.Tests, DotNet, DotNet.Interfaces, Models

[Dependencies] Updating FunFair.Test.Common (Test Infrastructure) to 6.1.25.293
  CHANGELOG.md
  src/Credfeto.DotNet.Repo.Tools.Build.Tests/Credfeto.DotNet.Repo.Tools.Build.Tests.csproj
Labels: C# Project, Change Log, Markdown, Build.Tests

Removed empty folder
  src/Credfeto.DotNet.Repo.Tools.Cmd/Credfeto.DotNet.Repo.Tools.Cmd.csproj
Labels: C# Project, Cmd

Reduced dependencies
  src/Credfeto.DotNet.Repo.Tracking.Interfaces/Credfeto.DotNet.Repo.Tracking.Interfaces.csproj
Labels: C# Project, Credfeto.DotNet.Repo.Tracking.Interfaces

Reduced dependencies
  src/Credfeto.DotNet.Repo.Tools.DotNet.Interfaces/Credfeto.DotNet.Repo.Tools.DotNet.Interfaces.csproj
Labels: C# Project, DotNet.Interfaces

Reduced dependencies
  src/Credfeto.DotNet.Repo.Tools.Cmd/Credfeto.DotNet.Repo.Tools.Cmd.csproj
  src/Credfeto.DotNet.Repo.Tools.Git.Interfaces/Credfeto.DotNet.Repo.Tools.Git.Interfaces.csproj
Labels: C# Project, Cmd, Git.Interfaces

Reduced dependencies
  src/Credfeto.DotNet.Repo.Tools.DotNet/Credfeto.DotNet.Repo.Tools.DotNet.csproj
Labels: C# Project, DotNet

Reduced dependencies
  src/Credfeto.DotNet.Repo.Tools.Git/Credfeto.DotNet.Repo.Tools.Git.csproj
Labels: C# Project, Git

Reduced dependencies
  src/Credfeto.DotNet.Repo.Tools.Models/Credfeto.DotNet.Repo.Tools.Models.csproj
Labels: C# Project, Models

Reduced dependencies
  src/Credfeto.DotNet.Repo.Tools.Build.Interfaces/Credfeto.DotNet.Repo.Tools.Build.Interfaces.csproj
  src/Credfeto.DotNet.Repo.Tools.Build.Interfaces/IDotNetSolutionCheck.cs
  src/Credfeto.DotNet.Repo.Tools.Build/Services/DotNetSolutionCheck.cs
  src/Credfeto.DotNet.Repo.Tools.Cmd/Packages/Services/BulkPackageUpdater.cs
  src/Credfeto.DotNet.Repo.Tools.Release/Credfeto.DotNet.Repo.Tools.Release.csproj
Labels: C# Project, Build, Build.Interfaces, Cmd, Release

Reduced dependencies
  src/Credfeto.DotNet.Repo.Tools.Cmd/Credfeto.DotNet.Repo.Tools.Cmd.csproj
Labels: C# Project, Cmd

Reduced dependencies
  src/Credfeto.DotNet.Repo.Tracking/Credfeto.DotNet.Repo.Tracking.csproj
Labels: C# Project, Credfeto.DotNet.Repo.Tracking

Reduced dependencies
  src/Credfeto.DotNet.Repo.Tools.Build/Credfeto.DotNet.Repo.Tools.Build.csproj
Labels: C# Project, Build

Reduced dependencies
  src/Credfeto.DotNet.Repo.Tools.Release.Interfaces/Credfeto.DotNet.Repo.Tools.Release.Interfaces.csproj
  src/Credfeto.DotNet.Repo.Tools.Release/Credfeto.DotNet.Repo.Tools.Release.csproj
Labels: C# Project, Release, Release.Interfaces

Reduced dependencies
  src/Credfeto.DotNet.Repo.Tools.Build/Credfeto.DotNet.Repo.Tools.Build.csproj
  src/Credfeto.DotNet.Repo.Tools.Cmd/Credfeto.DotNet.Repo.Tools.Cmd.csproj
  src/Credfeto.DotNet.Repo.Tools.Git/Credfeto.DotNet.Repo.Tools.Git.csproj
  src/Credfeto.DotNet.Repo.Tools.Release/Credfeto.DotNet.Repo.Tools.Release.csproj
Labels: C# Project, Build, Cmd, Git, Release

Reduced dependencies
  src/Credfeto.DotNet.Repo.Tools.Build.Tests/DependencyInjectionTests.cs
Labels: Build.Tests

Reduced dependencies
  src/Credfeto.DotNet.Repo.Tools.Release/Credfeto.DotNet.Repo.Tools.Release.csproj
Labels: C# Project, Release

[Cleanup] - Code cleanup on Credfeto.DotNet.Repo.Tools.sln
  src/Credfeto.DotNet.Repo.Tools.Build.Interfaces/Credfeto.DotNet.Repo.Tools.Build.Interfaces.csproj
  src/Credfeto.DotNet.Repo.Tools.Build/Credfeto.DotNet.Repo.Tools.Build.csproj
  src/Credfeto.DotNet.Repo.Tools.Build/Services/DotNetBuild.cs
  src/Credfeto.DotNet.Repo.Tools.Cmd/Credfeto.DotNet.Repo.Tools.Cmd.csproj
  src/Credfeto.DotNet.Repo.Tools.Cmd/Packages/Services/BulkPackageUpdater.cs
  src/Credfeto.DotNet.Repo.Tools.Cmd/Packages/TrackingCacheExtensions.cs
  src/Credfeto.DotNet.Repo.Tools.Cmd/Program.cs
  src/Credfeto.DotNet.Repo.Tools.DotNet/Credfeto.DotNet.Repo.Tools.DotNet.csproj
  src/Credfeto.DotNet.Repo.Tools.Git.Interfaces/Credfeto.DotNet.Repo.Tools.Git.Interfaces.csproj
  src/Credfeto.DotNet.Repo.Tools.Git.Tests/Credfeto.DotNet.Repo.Tools.Git.Tests.csproj
  src/Credfeto.DotNet.Repo.Tools.Git/Credfeto.DotNet.Repo.Tools.Git.csproj
  src/Credfeto.DotNet.Repo.Tools.Git/GitRepository.cs
  src/Credfeto.DotNet.Repo.Tools.Git/GitUtils.cs
  src/Credfeto.DotNet.Repo.Tools.Models/Credfeto.DotNet.Repo.Tools.Models.csproj
  src/Credfeto.DotNet.Repo.Tools.Models/Packages/PackageUpdate.cs
  src/Credfeto.DotNet.Repo.Tools.Release.Interfaces/Credfeto.DotNet.Repo.Tools.Release.Interfaces.csproj
  src/Credfeto.DotNet.Repo.Tools.Release/Credfeto.DotNet.Repo.Tools.Release.csproj
  src/Credfeto.DotNet.Repo.Tools.Release/Services/ReleaseGeneration.cs
  src/Credfeto.DotNet.Repo.Tracking.Interfaces/Credfeto.DotNet.Repo.Tracking.Interfaces.csproj
  src/Credfeto.DotNet.Repo.Tracking/Credfeto.DotNet.Repo.Tracking.csproj
Labels: C# Project, Build, Build.Interfaces, Cmd, DotNet, Git, Git.Interfaces, Git.Tests, Models, Release, Release.Interfaces, Credfeto.DotNet.Repo.Tracking, Credfeto.DotNet.Repo.Tracking.Interfaces

More loggign
  src/Credfeto.DotNet.Repo.Tools.Git/GitRepository.cs
Labels: Git

[Dependencies] Updating FunFair.Test.Common (Test Infrastructure) to 6.1.27.296
  CHANGELOG.md
  src/Credfeto.DotNet.Repo.Tools.Build.Tests/Credfeto.DotNet.Repo.Tools.Build.Tests.csproj
  src/Credfeto.DotNet.Repo.Tools.Git.Tests/Credfeto.DotNet.Repo.Tools.Git.Tests.csproj
  src/Credfeto.DotNet.Repo.Tracking.Tests/Credfeto.DotNet.Repo.Tracking.Tests.csproj
Labels: C# Project, Change Log, Markdown, Build.Tests, Git.Tests, Credfeto.DotNet.Repo.Tracking.Tests

Splitting command line apart
  src/Credfeto.DotNet.Repo.Tools.Cmd/ApplicationSetup.cs
  src/Credfeto.DotNet.Repo.Tools.Cmd/Credfeto.DotNet.Repo.Tools.Cmd.csproj
  src/Credfeto.DotNet.Repo.Tools.Cmd/Program.cs
  src/Credfeto.DotNet.Repo.Tools.Packages.Interfaces/Credfeto.DotNet.Repo.Tools.Packages.Interfaces.csproj
  src/Credfeto.DotNet.Repo.Tools.Packages.Interfaces/IBulkPackageUpdater.cs
  src/Credfeto.DotNet.Repo.Tools.Packages.Tests/AssemblySettings.cs
  src/Credfeto.DotNet.Repo.Tools.Packages.Tests/Credfeto.DotNet.Repo.Tools.Packages.Tests.csproj
  src/Credfeto.DotNet.Repo.Tools.Packages.Tests/DependencyInjectionTests.cs
  src/Credfeto.DotNet.Repo.Tools.Packages/Credfeto.DotNet.Repo.Tools.Packages.csproj
  src/Credfeto.DotNet.Repo.Tools.Packages/Exceptions/NoPackagesUpdatedException.cs
  src/Credfeto.DotNet.Repo.Tools.Packages/Exceptions/PackageUpdateException.cs
  src/Credfeto.DotNet.Repo.Tools.Packages/PackageConfigSerializationContext.cs
  src/Credfeto.DotNet.Repo.Tools.Packages/PackagesSetup.cs
  src/Credfeto.DotNet.Repo.Tools.Packages/Services/BulkPackageUpdater.cs
  src/Credfeto.DotNet.Repo.Tools.Packages/TrackingCacheExtensions.cs
  src/Credfeto.DotNet.Repo.Tools.Packages/UpdateContext.cs
  src/Credfeto.DotNet.Repo.Tools.sln
Labels: C# Project, C# Solution, Cmd
